@charset "utf-8";
@import "../../../node_modules/bulma/bulma.sass";
// Set variables here






// Hero Section with Paaatterns settings
//---------------------------------------
  
  // Change the colors to your choosing.
  $gradient1: #e66465;
  $gradient2: #9198e5;
  $color-overlay: linear-gradient(rgba(0,0,0,.3),rgba(250,255,255,.3));

  // List of all available Paaatterns settings 
  $img-clarence-gradient: $color-overlay,url(../img/paaatterns/Clarence.svg), linear-gradient($gradient1, $gradient2);
  $img-doubs-gradient: $color-overlay,url(../img/paaatterns/Doubs.svg), linear-gradient($gradient1, $gradient2);
  $img-hinterrhein-gradient: $color-overlay,url(../img/paaatterns/Hinterrhein.svg), linear-gradient($gradient1, $gradient2);
  $img-inn-gradient: $color-overlay,url(../img/paaatterns/Inn.svg), linear-gradient($gradient1, $gradient2);
  $img-kander-gradient: $color-overlay,url(../img/paaatterns/Kander.svg), linear-gradient($gradient1, $gradient2);
  $img-linth-gradient: $color-overlay,url(../img/paaatterns/Linth.svg), linear-gradient($gradient1, $gradient2);
  $img-mataura-gradient: $color-overlay,url(../img/paaatterns/Mataura.svg), linear-gradient($gradient1, $gradient2);
  $img-mohaka-gradient: $color-overlay,url(../img/paaatterns/Mohaka.svg), linear-gradient($gradient1, $gradient2);
  $img-ngaruroro-gradient: $color-overlay,url(../img/paaatterns/Ngaruroro.svg), linear-gradient($gradient1, $gradient2);
  $img-oreti-gradient: $color-overlay,url(../img/paaatterns/Oreti.svg), linear-gradient($gradient1, $gradient2);
  $img-rangitikei-gradient: $color-overlay,url(../img/paaatterns/Rangitikei.svg), linear-gradient($gradient1, $gradient2);
  $img-reuss-gradient: $color-overlay,url(../img/paaatterns/Reuss.svg), linear-gradient($gradient1, $gradient2);
  $img-rhône-gradient: $color-overlay,url(../img/paaatterns/Rhône.svg), linear-gradient($gradient1, $gradient2);
  $img-taieri-gradient: $color-overlay,url(../img/paaatterns/Taieri.svg), linear-gradient($gradient1, $gradient2);
  $img-thur-gradient: $color-overlay,url(../img/paaatterns/Thur.svg), linear-gradient($gradient1, $gradient2);
  $img-vorderrhein-gradient: $color-overlay,url(../img/paaatterns/Vorderrhein.svg), linear-gradient($gradient1, $gradient2);
  $img-waiau-gradient: $color-overlay,url(../img/paaatterns/Waiau.svg), linear-gradient($gradient1, $gradient2);
  $img-waihou-gradient: $color-overlay,url(../img/paaatterns/Waihou.svg), linear-gradient($gradient1, $gradient2);
  $img-waimakariri-gradient: $color-overlay,url(../img/paaatterns/Waimakariri.svg), linear-gradient($gradient1, $gradient2);
  $img-wairau-gradient: $color-overlay,url(../img/paaatterns/Wairau.svg), linear-gradient($gradient1, $gradient2);
  $img-whangaehu-gradient: $color-overlay,url(../img/paaatterns/Whangaehu.svg), linear-gradient($gradient1, $gradient2);
  $img-aare-gradient: $color-overlay,url(../img/paaatterns/Aare.svg), linear-gradient($gradient1, $gradient2);

// Replace the background value with a selection from above.

.hero-img-inner {
    background: $img-inn-gradient !important;
    background-size: cover;
    background-position: top;
    .hero-body, .container {
      margin-top: 25px;
    }
    
}
.hero-img-main {
    background: $img-doubs-gradient;
    background-size: cover;
    background-position: top;
}

.text-shadow {
  text-shadow: #000 1px 0 5px;
}

.text-shadow-button {
    text-shadow: #000 1px 0 5px;
    &:hover {
      text-shadow: none;
    }
  }

// CSS Navbar

header{
a {
  color: #000;
}
}

// header //

.header {
  top: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  -webkit-box-shadow: -1px 2px 3px -1px rgba(75, 73, 73,0.75);
  -moz-box-shadow: -1px 2px 3px -1px rgba(75, 73, 73, 0.75);
  box-shadow: -1px 2px 3px -1px rgba(75, 73, 73,0.75);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: .2px solid #f4f4f4;
  text-decoration: none;

}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.2em;
  padding: 15px 20px 0 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */
 .menu-icon {
   float: right;
 }

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 31px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 280px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 20px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
